.app-card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }
  
  .hero-image {
    box-shadow: 0 2px 4px #3131403b;
    width: 100%;
  }
  
  .hero-name {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 33px;
    line-height: 120%;
    margin: -50px 0px 18px 12px;
    text-shadow: 2px 2px #20202093;
  }
  
  .card-info span {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #f2264b;
    margin: 0px 0px 24px;
  }
  
  .card-info {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin: 0px 0px 24px;
  }
  
  .card-info div {
    margin-top: 12px;
  }